h1{
    background-image: url(https://i.pinimg.com/736x/50/df/34/50df34b9e93f30269853b96b09c37e3b.jpg);
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
h2{
    background-image: url(https://thumbs.dreamstime.com/z/falling-drop-rain-blue-earth-image-water-splash-crown-shape-water-splash-crown-shape-falling-drop-earth-140453719.jpg);
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center;
}